global
    log /dev/log local0
    maxconn 1000

defaults
    log     global
    mode    http
    option  httplog
    timeout connect 5000
    timeout client  50000
    timeout server  50000

frontend http_front
    bind *:80
    default_backend http_back

backend http_back
    balance roundrobin
    server web1 192.168.78.2:80 check
    server web2 192.168.43.2:80 check
    server web3 192.168.69.2:80 check

